/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.my-div-span {
  width:35px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #c6c0c0;
  font-size:14px;
  padding: 10px;
}

.my-div-span:hover {
  padding: 12px;
  font-weight: bold;
}
