<app-dialog-form
  title="Apartment creation"
  [dialogRef]="dialogRef">
  <ng-container dialog-form>
    <form [formGroup]="form" class="login-form">
      <div *ngFor="let control of controls" class="form-row">
        <app-control
          *ngIf="control.key !== 'address'"
          [form]="form"
          [formControlName]="control.key"
          [control]="control" >
        </app-control>
        <app-control
          *ngIf="control.key === 'address'"
          [form]="form"
          [formControlName]="control.key"
          [control]="control"
          (change)="getCords($event)">
        </app-control>
      </div>
    </form>
  </ng-container>
  <ng-container submit-button>
    <button
      type="submit"
      mat-flat-button
      color="accent"
      (click)="onSubmit()"
      cdkFocusInitial>Create Apartment</button>
  </ng-container>
</app-dialog-form>

