$active-color: #666DA4;

.filter-button {
  height: 47px;
  background: white;
  border: 2px solid #D7DAEE;
  margin-left:10px;
  border-radius: 2px;

  &:hover {
    background-color: $active-color;
    color: white;
    border-color: $active-color;
  }

  &.active {
    background-color: $active-color;
    color: white;
    border-color: $active-color;
  }

  .icon {
    width:12px;
    height:12px;
    position:relative;
    bottom:12px;
    margin-right:5px;
  }
}


